/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 0;
  color: #5a5a5a;


}
a:hover{
    color: #e0bfa7;
  }
a{
  color:#f8f9fa;
  text-decoration: none;
  background-color: transparent;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 32px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.type_2{
  width: 40%;
  margin-left: 0px;
  border-top-width: 2px;
    background-color: #b0314d;
}
  border: 0;
  height: 55px;
  background-image: url(image/type_2.png);
  background-repeat: no-repeat;
}
.body-footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}
footer{
  position: relative;
  width: 100%;
  background: #b0314d;
  min-height: :100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
footer .social_icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 0px 0 0;
    flex-wrap: wrap;
}
footer .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 0 0 12px;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li

{
  list-style: none;
}
footer .social_icon li a
 {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover{
  transform: translateY(-10px);
}
footer .menu li a
 {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover
{
  opacity: 1;
}
footer .para
{
  padding-top: 41px;
    font-size: xxx-large;

}
footer .para_2
{
  margin-top: 0;
  margin-bottom: 15px;

}
footer p
{
color: #fff;
text-align: center;
margin-top: 15px;
margin-bottom: 10px;
font-size: 1.1em;
}
footer .wave
{
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png) ;
  background-size: 1000px 100px;
}
footer .wave#wave1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animatewave 4s linear infinite;
}
footer .wave#wave2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animatewave_02 4s linear infinite;
}
footer .wave#wave3
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animatewave 3s linear infinite;
}
footer .wave#wave4
{
  z-index: 999;
  opacity: 0.1;
  bottom: 20px;
  animation: animatewave_02 3s linear infinite;
}
@keyframes animatewave
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}
@keyframes animatewave_02
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #c41d1d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ff0d0d;
  background-image: -webkit-linear-gradient(top, #ff0d0d, #ff0000);
  background-image: -moz-linear-gradient(top, #ff0d0d, #ff0000);
  background-image: -ms-linear-gradient(top, #ff0d0d, #ff0000);
  background-image: -o-linear-gradient(top, #ff0d0d, #ff0000);
  background-image: linear-gradient(to bottom, #ff0d0d, #ff0000);
  text-decoration: none;
}
ul {
    list-style-type: none;
}
